---
import { Image } from 'astro:assets';
import ojo from '@/src/assets/icons/Activity.png';
import miAvatar from '@/src/assets/miavatar.jpg';
import ButtonClose from '@/src/components/ButtonClose.astro';
---

<div class="user my-10 w-full relative flex items-center">
    <div class="flex flex-row justify-between items-center">
        <span class="userImage bg-gray-800 rounded-full overflow-hidden relative w-12 flex items-center justify-center">
            <Image src={miAvatar} width={40} alt="Avatar de usuario" class="object-cover w-10 h-10" />
        </span>
        <div class="text-ellipsis overflow-hidden w-full pl-2">dashed_to_darkness</div>
    </div>
</div>

<div class="buttons justify-end my-10 w-full relative flex items-center">
    <p class="bg-primary px-2 py-1 rounded-lg mr-4">Live</p>
    <p class="bg-gray-600 text-white px-4 text-sm py-2 rounded-lg mr-4 flex items-center">
        <span class="mr-2">
            <Image src={ojo} width={30} alt="Avatar de usuario" class="object-cover w-4 h-4" />
        </span>
        <span id="randomViewers">0</span>
    </p>
    <ButtonClose />
</div>

<script is:inline>
    let finalNumber = 0;
    let randomNumber = Math.floor(Math.random() * 1000) + 1;
    let randomTime = Math.floor(Math.random() * 5000) + 1;

    // aumentar ese random number para que se vea el cambio en la vista
    const viewers = () => {
        setInterval(() => {
            randomNumber = randomNumber + Math.floor(Math.random() * 30) + 1;
            if (randomNumber > 1000) {
                // cortamos randoNumber en el primer y segundo dígito, si el segundo dígito es 0, lo dejamos en k y si no, añadimos un . y el segundo dígito + k
                finalNumber = randomNumber.toString().slice(0, 1) + (randomNumber.toString().slice(1, 2) === '0' ? 'k' : `.${randomNumber.toString().slice(1, 2)}k`);
            } else {
                finalNumber = randomNumber;
            }
            document.getElementById('randomViewers').innerText = finalNumber;
        }, randomTime);
    };

    viewers();
</script>
