---
import '@/src/styles/global.css';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="manifest" href="/manifest.json" />
        <meta name="theme-color" content="#000000" />
        <title>Instagram Live Sim</title>
    </head>
    <body>
        <main class="container max-w-[600px] m-auto h-full flex flex-col">
            <slot />
        </main>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker
                        .register('/service-worker.js')
                        .then((registration) => {
                            console.log('SW registered:', registration);
                        })
                        .catch((err) => {
                            console.log('SW registration failed:', err);
                        });
                });
            }
        </script>
    </body>
</html>
